<!DOCTYPE html>
<html>
<head>
  <title>Dans nos regards, une seule vérité</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Londrina+Outline|Russo+One|Keania+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 	<%= render "layouts/header" %>
 -->
<%= yield %>

</body>
</html>
